@using CoreMVC_Blog_HungDV.Models
<div id="List">
    <div class="list-header">
        <div class="list-title">List Blog</div>
    </div>
    <div id="listBlog">
        <div class="title-row">
            <div class="title-id">
                id
            </div>
            <div class="title-Tin">
                Tin
            </div>
            <div class="title-type">
                Loại
            </div>
            <div class="title-status">
                Trạng thái
            </div>
            <div class="title-location">
                Vị trí
            </div>
            <div class="title-date_public">
                Ngày Public
            </div>
            <div class="title-edit">
                Edit
            </div>
            <div class="title-delete">
                Delete
            </div>
        </div>
        <ul class="list-Blogs">
            @foreach (Blog blog in Model)
            {
                <li class="data-row">
                    <div class="data-id">
                        @blog.Id
                    </div>
                    <div class="data-Tin">
                        @blog.Title
                    </div>
                    <div class="data-type">
                        @getCategory(blog.Category)
                    </div>
                    @if (blog.IsPublic)
                    {
                        <div class="data-status">
                            Yes
                        </div>
                    }
                    else
                    {
                        <div class="data-status">
                            No
                        </div>
                    }
                    <div class="data-location">
                        @getPosition(blog.Position)
                    </div>
                    <div class="data-date_public">
                        @blog.DatePublic.ToString("yyyy-MM-dd")
                    </div>
                    <div class="data-edit">
                        <a class = "btn-Edit" asp-action="BlogCreateEdit" asp-route-id="@blog.Id">Edit</a>
                    </div>
                    <div class="data-delete">
                        <a class="btn-Delete" asp-action="BlogDelete" asp-route-id="@blog.Id">Delete</a>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
@functions{
    public string getPosition(List<bool> listPosition)
    {
        List<string> listPositionByString = new List<string>();
        int index = 0;
        foreach (var postion in ViewData["listPostion"] as List<Position>)
        {
            if (listPosition[index])
            {
                listPositionByString.Add(postion.Name);
            }
            index++;
        }
        string result = "";
        result += listPositionByString[0];
        for (int i = 1; i < listPositionByString.Count; i++)
        {
            result += ", " + listPositionByString[i];
        }
        return result;
    }
    public string getCategory(int id)
    {
        string result = "";
        foreach (Category category in ViewData["listCategory"] as IList<Category>)
        {
            if (id == category.Id)
            {
                result = category.Name;
            }
        }
        return result;
    }
    public string getPosition(List<int> listPosition)
    {
        string result = "";
        for (int i = 0; i < listPosition.Count; i++)
        {
            foreach (Position postion in ViewData["listPostion"] as IList<Position>)
            {
                if (listPosition[i] == postion.Id)
                {
                    result += postion.Name + " ";
                }
            }
        }
        return result;
    }
}
